body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: white;
    background-image: url(Imagens/imagemfundo.png);
}

.logo_principal{
    width: 18%;
    display: block;
    margin: auto;

}

.conteiner_menu{
    background-color: #050a30;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}

img{
    width: 180px;
}

.text-box{
    display: flex;
    justify-content: space-evenly;
}


