body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(../Imagens/imagemfundo.png);
}

header{
    display: flex;
    justify-content: center;
}

.logo_principal{
    width: 200px;
    display: block;
    margin: auto;

}

.conteiner{
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 14px;
    background-color: #050a30;
    height: 485px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 3px;
    margin-top: 20px;
    border-radius: 7px;
    flex-direction: column;
}

form div{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 25px;
    
}

form input{
    padding: 7px;
    border: 1px solid;
    border-radius: 5px;
}

.titulo1{
    text-align: start;
    padding: 5px;
    background-color: white;
    color: black;
    height: 33px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botao{
    display: flex;
    align-items: end;
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 5px;
}

button{
    padding: 7px 12px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    background-color: green;
    color: white;
    height: 35px;
}

.titulo1 h1, hr{
    display: flex;
    margin-top: 0.5px;
    margin-bottom: 2px;

}

form select{
    padding: 5px;
    border: 1px solid;
    border-radius: 9px;
}



